src/wsdl/CatalogService_metadata1.xsd

<xs:schema xmlns:tns="http://hl7.umcg.nl" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://hl7.umcg.nl">
  <xs:import namespace="urn:hl7-org:v3" schemaLocation="CatalogService_schemas.xsd"></xs:import>
  <xs:element name="GetVersion">
    <xs:complexType></xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="GetVersionResult" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="catalogReleaseId" type="xs:string"></xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="language" nillable="true" type="tns:HumanLanguage"></xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="useOntology" nillable="true" type="xs:boolean"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="HumanLanguage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nl"></xs:enumeration>
      <xs:enumeration value="en"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetCatalogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="urn:hl7-org:v3" maxOccurs="1" minOccurs="0" ref="q1:HL7Container"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FAULT" nillable="true" type="xs:string"></xs:element>
  <xs:element name="GetValueSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="catalogReleaseId" type="xs:string"></xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="language" nillable="true" type="tns:HumanLanguage"></xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="studyDefinitionId" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueSetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="urn:hl7-org:v3" maxOccurs="1" minOccurs="0" ref="q2:HL7Container"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogReleasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="urn:hl7-org:v3" maxOccurs="1" minOccurs="0" name="HL7Containers" type="q3:ArrayOfXElement"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>