src/wsdl/CatalogService_schemas.xsd

<xs:schema xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3">
  <xs:include  schemaLocation="REPC_MT000100UV01.xsd"></xs:include>
  <xs:include  schemaLocation="POQM_MT000001UV.xsd"></xs:include>
  <xs:include  schemaLocation="ValueSet.xsd"></xs:include>
  <xs:element name="HL7Container" type="HL7Container"></xs:element>
  <xs:complexType name="HL7Container">
    <xs:choice>
      <xs:element maxOccurs="1" minOccurs="0" name="catalog" type="REPC_MT000100UV01.Organizer"></xs:element>
      <xs:element name="valueSets" type="valueSets"></xs:element>
      <xs:element name="QualityMeasureDocument" type="POQM_MT000001UV.QualityMeasureDocument"></xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfXElement">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="HL7Container" type="HL7Container"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>